<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Witaj w bazie filmów!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Witaj w bazie filmów!</h1>
        <div>
            <form action="/login" method="get">
                <button type="submit" class="btn">Zaloguj</button>
            </form>
            <form action="/register" method="get">
                <button type="submit" class="btn">Zarejestruj</button>
            </form>
        </div>
    </div>
</body>
</html>
